@use "sass:math";
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "./base/mixins.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
// Подключить если есть локальные файлы шрифтов
//@import "./fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "./fonts/icons.scss";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Fira Sans', sans-serif; //локальный шрифт
$secondFont: 'Oswald', sans-serif; //локальный шрифт

$fontSize: rem(17); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 0;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	background-color: #3c3c3c;
	//margin: 0 auto;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #fff;
	text-underline-offset: rem(3);
	text-decoration-thickness: 2px;
}
button {
	cursor: pointer;
}
button:hover {
	background-color: #000;
	color: #fff;
}
.button {
	width: rem(281);
	height: rem(50);
	background-color: #1B1B1B;
	border-radius: rem(15);
	color: #898989;
	font-family: $secondFont;
	font-weight: 500;
	font-size: rem(20);
	line-height: math.div(30, 20);
	@media (max-width: rem(1100)){
		width: rem(261);
		font-size: rem(18);
	}
	@media (max-width: $tablet){
		width: rem(251);
		font-size: rem(18);
		height: rem(45);
		background-color: #000;
		color: #fff;
	}
	@media (max-width: rem(870)){
		width: rem(231);
		font-size: rem(17);
	}
	@media (max-width: rem(576)){
		width: rem(216);
		font-size: rem(16);
		height: rem(40);
	}
	@media (max-width: $mobileSmall){
		width: rem(191);
		font-size: rem(14);
		height: rem(35);
	}
	@media (max-width: rem(420)){
		width: rem(161);
		font-size: rem(12);
	}
	@media (max-width: rem(375)){
		width: rem(131);
		height: rem(30);
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "./blocks/base.scss";

//Стили попапов
//@import "./base/popup.scss";

// Подключение стилей общих элементов проекта
//@import "./blocks/common.scss";

// Подключение стилей отдельных блоков
@import "./blocks/header.scss";
@import "./blocks/company.scss";
@import "./blocks/footer.scss";

// Подключение стилей отдельных страниц
//@import "./blocks/home.scss";

//@import './block/*.scss'; //изза плагина sass-glob можем подключать файлы стилей через *
